*.java        eol=lf    text       ident  diff=java
*.c           eol=lf    text       ident  diff=cpp
*.h           eol=lf    text       ident  diff=cpp
*.cpp         eol=lf    text       ident  diff=cpp
*.xml         eol=lf    text       ident  diff=html
*.vm                    text       ident
*.php         eol=lf    text       ident  diff=php
*.phps        eol=lf    text       ident  diff=php
*.properties            text       ident
*.js          eol=lf    text       ident  diff=java
*.json        eol=lf    text       ident  diff=java
*.css         eol=lf    text       ident  diff=html
*.sh          eol=lf    text       ident
*.bat         eol=crlf  text       ident
*.cmd         eol=crlf  text       ident
*.vcproj      eol=crlf  text       ident
*.md          eol=lf    text       ident  diff=html
*.gif                   binary
*.png                   binary
*.jpg                   binary
*.jar                   binary
*.class                 binary
*.gz                    binary
*.tar                   binary
*.dll                   binary
*.exe                   binary
*.zip                   binary